html {
    background: black;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    text-align: center;
    color: white;
}
h1 span { 
    background-color: green; 
}
