html {
    background: black;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    text-align: center;
}
h1 span { 
    box-shadow: 10px 0 0px 0px #EDC330, -10px 0 0px 0px #EDC330;
    color: white;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 400px);
    background-color: green;
}
