html {
    background: black;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    text-align: center;}
h1 span { 
    color: white;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 400px);
    background-color: green;
}
canvas {
    position: relative;
    z-index: 1;
}
